daemon/node_modules
webService/node_modules
webService/logs

*.sublime-project
*.sublime-workspace
*.orig
*.pyc
.idea

#minimized files
app.min.js
app.min.js.map
app_concat.js
app_concat.js.map
frameworks.js
index-non-min.html
daemon/npm-debug.log
webService/npm-debug.log

#scenario files
createScenarioMacroVars.txt
deleteScenarioMacroVars.txt
